/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
/*para nde lumampas sa sections*/
section[id]{
    scroll-margin-top: 200px;
}

body {
  margin: 0;
  padding-top: 90px; /* pushes content under fixed navbar */
  font-family: "Times New Roman", Times;
}

/* NAVBAR FIXED */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #c3ce96;
  box-sizing: border-box;
}

.navbar ul {
  display: flex;
  gap: 25px;
  flex-wrap: nowrap;
}

.navbar li {
  
  display: inline;
  list-style: none;
  margin-right: 20px;
  font-size: 21px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar button {
  padding: 8px 15px;
  border: none;
  border-radius: 7px;
  background: #d5d5af;
}

.navbar button a {
  text-decoration: none;
  color: black;
}

.home-section h1{
  color: white;
  font-size: 72px;
  outline: solid white;
  padding: 15px;
  backdrop-filter: blur(7px);
}
/* TOP SECTION */
.home-section {
  background-size: cover;
  background-image: url(CorruptionBG.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* MAIN CONTENT WRAPPER */
.sec2-wrap {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  background-color: #f7f7d5;
}

/* BOXES */
.sec2-box1,
.sec2-box2 {
  width: 500px;
  min-height: 350px;
  font-size: 20px;
  background: #e7e7c5;
  border-radius: 20px;
  padding: 25px;
  text-align: justify;
}

.sec2-box1 h2 {
  text-align: left;
}

.sec2-box2 h2 {
  text-align: left;
  padding: 25px;
  text-align: justify;
}

.sec2-box1 h2 {
  text-align: left;
}

.sec2-box2 h2 {
  text-align: left;
}

/* CONTACT + SUPPORT */
.featured-section{
  min-width: 100vh;
  padding: 40px;
  background-color: #e7e7c5;
}

.featured-section h2{
  text-align: center;
  font-size: 32px;
  color: black;
  font-weight: bold;
}

.slide-content {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
}



.article-card {
  flex: 0 0 500px;
  margin-right: 20px;
  height: 500px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  transform: scale(0.9);
  opacity: 0.7;
}

.article-card:hover {
  transform: scale(1);
  opacity: 1;
}



.contact-section,
.support-section {
  min-height: 100vh;
  padding: 40px;
  background: #a3b18a;
}

.about-boxes {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin: 40px 0;
  flex-wrap: wrap; 
}

.about-boxes .box {
  background: beige; 
  padding: 25px;
  width: 300px;
  min-height: 200px;
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.boxes-bg{
  background-size: cover;
  background-image: url(https://idsb.tmgrup.com.tr/ly/uploads/images/2025/11/16/411833.jpg);
  backdrop-filter: blur(7px);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}