body{
    text-decoration: none; 
    
}
li{
    font-size: 21px;
    list-style: none;
    display: inline;
}

.navbar{
    justify-content: space-between;
    align-items: center;
    display: flex;
    background: beige; font-family: 'Times New Roman', Times;
    padding-left: 30px; padding-right: 30px;
}